@import '~antd/dist/antd.less';
* {
    margin: 0;
    padding: 0;
}
.menu-box {
    display: flex;
    justify-content: center;
}
.outlet-box {
    width: 1000px;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    box-sizing: border-box;
}
.screenshot-button {
    position: fixed;
    right: 50px;
    bottom: 50px;
}
